div{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-conten: center;

}


.CartMenu {
cursor:pointer
}



.popUpCart {
cursor: default;
width: 200px;
border: 1px solid grey;
position: absolute;
z-index: 1;
overflow: hidden;
background-color: white;
border-radius:5px;
box-shadow: 0px 0px 10px #000;

}



.ButtonAddCart   {
vertical-align: middle;
height: 30px;
cursor:pointer;
background-color: rgb(28, 183, 101);
text-align: center;
}

.ButtonAddCart:hover {
background-color: rgb(47, 223, 131);
}

.delete_item_cart {
  cursor: pointer;
}
